.login-pf body {
    background: #0f0f0f url("../img/kervalor-bg.jpeg") center;
    background-size: cover;
}

.login-pf body:before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
}

.alert {
    margin-top: 20px;
    padding: 8px 50px;
    z-index: 3;
    min-width: 360px;
    display: inline-block;
    border-radius: 3px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12)
}

.alert-error {
    background-color: #ef5350;
    border-color: #ef5350;
    color: white;
}

.alert-sucess {
    background-color: #81c784;
    border-color: #81c784;
    color: white;
}

#kc-locale ul {
    display: none;
    position: absolute;
    background-color: #fff;
    list-style: none;
    right: 20px;
    top: 30px;
    width: 200px;
    padding: 2px;
}

#kc-locale:hover ul {
    display: block;
    margin: 0;
}

#kc-locale ul li a {
    display: block;
    padding: 1px 11px;
    color: #000 !important;
    border: 1px solid #fff;
    text-decoration: none;
    display: block;
    line-height: 20px;
}

#kc-locale ul li a:hover {
    color: #4d5258;
    background-color: #d4edfa;
    border-color: #b3d3e7;
}

#kc-locale-dropdown a {
    color: #fff;
}

#kc-locale-dropdown a:hover {
    text-decoration: none;
}

a#kc-current-locale-link {
    display: block;
    padding: 5px;
}

a#kc-current-locale-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

a#kc-current-locale-link::after {
    content: "\2c5";
    margin-left: 4px;
}

.login-pf .container {
    padding-top: 40px;
}

#kc-info {
    text-align: justify;
    padding-bottom: 15px;
}

#kc-error-message {
    padding: 20px;
}

#kc-info-wrapper {
    padding: 20px;
    padding-top: 0;
}

.login-pf a:hover {
    color: #0099d3;
}

#kc-logo {
    width: 100%;
}

#kc-logo-wrapper {
    position: absolute;
    width: 100%;
    text-align: center;
    top: -90px;
}

div.kc-logo-text {
    background-image: url("../img/keycloak-logo-text.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 38px;
}

div.kc-logo-text span {
    display: none;
}

#kc-header {
    color: #fff;
    overflow: visible;
    white-space: nowrap;
    box-shadow: 0 12px 20px -10px rgba(40, 148, 193, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(40, 148, 193, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
    padding: 20px 0;
    background: linear-gradient(60deg, #617ef7, #617ef7);
    border-radius: 3px;
    opacity: 1;

}

#kc-header-wrapper {
    font-size: 1.55em;
    font-weight: 700;
    line-height: 1.3em;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.alert-wrapper {
    text-align: center;
}

.form-horizontal {
    padding: 20px;
}

#kc-content {
    position: relative;
}

#kc-content-wrapper {
    overflow-y: hidden;
}

#kc-info {
    padding-bottom: 200px;
    margin-bottom: -200px;
}

#kc-info-wrapper {
    font-size: 13px;
}

#kc-form-options {
    display: block;
    text-align: center;
}

#kc-terms-text {
    margin-bottom: 20px;
}

#kc-registration {
    margin-bottom: 15px;
}

/* TOTP */

ol#kc-totp-settings {
    margin: 0;
    padding: 0;
}

ol#kc-totp-settings li {
    margin-top: 1em;
}

ol#kc-totp-settings li:first-of-type {
    margin-top: 0;
}

#kc-totp-secret-qr-code {
    max-width: 150px;
    max-height: 150px;
}

/* OAuth */

#kc-oauth h3 {
    margin-top: 0;
}

#kc-oauth ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#kc-oauth ul li {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 12px;
    padding: 10px 30px;
}

#kc-oauth ul li:first-of-type {
    border-top: 0;
}

#kc-oauth .kc-role {
    display: inline-block;
    width: 50%;
}

/* Code */
#kc-code textarea {
    width: 100%;
    height: 8em;
}

/* Social */

#kc-social-providers ul {
    padding: 0;
    margin: 0;
}

#kc-social-providers li {
    display: block;
    margin-top: 5px;
}

#kc-social-providers li:first-of-type {
    margin-top: 0;
}

.zocial {
    width: 150px;
}

.zocial:hover {
    color: #fff !important;
}

.zocial.facebook,
.zocial.github,
.zocial.google,
.zocial.microsoft,
.zocial.stackoverflow,
.zocial.linkedin,
.zocial.twitter {
    background-image: none;
    border-radius: 2px;

    font-family: "Open Sans", sans-serif;
    font-weight: normal;

    box-shadow: none;
    text-shadow: none;
}

.zocial.google {
    background-color: #dd4b39 !important;
}

.zocial.facebook:hover,
.zocial.github:hover,
.zocial.google:hover,
.zocial.microsoft:hover,
.zocial.stackoverflow:hover,
.zocial.linkedin:hover,
.zocial.twitter:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%) !important;
}

/* Copy of zocial windows classes to be used for microsoft's social provider button */
.zocial.microsoft {
    background-color: #0052a4;
    color: #fff;
}

.zocial.microsoft:before {
    content: "\f15d";
}

#kc-container-wrapper {
    width: 360px;
    position: absolute;
    top: 50%;
    z-index: 2;
    background-color: white;
    border-radius: 6px;
    color: rgba(0, 0, 0, 0.87);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-group {
    width: 100%;
}

.form-control {
    border: 0;
    background-image: linear-gradient(#617ef7, #617ef7), linear-gradient(#617ef7, #617ef7);
    background-size: 0 2px, 100% 1px;
    background-repeat: no-repeat;
    background-position: center bottom, center calc(100% - 1px);
    background-color: transparent;
    transition: background 0.3s ease-out;
    float: none;
    box-shadow: none;
    border-radius: 0;
    font-weight: 400;
    height: 36px;
    padding: 7px 0;
    font-size: 14px;
    line-height: 1.42857;
    outline: none;
    margin-bottom: 20px !important;
}

input.form-control:focus {
    background-size: 100% 2px, 100% 1px !important;
    box-shadow: none;
}


input.form-control::placeholder {
    color: #777;
    font-style: normal;
}

#kc-form-buttons {
    margin-top: 20px;
    text-align: center;
}

.btn-login {
    box-shadow: 0 2px 2px 0 rgba(40, 148, 193, 0.14), 0 3px 1px -2px rgba(40, 148, 193, 0.2), 0 1px 5px 0 rgba(40, 148, 193, 0.12);
    color: #fff;
    background-color: #617ef7;
    border-color: #617ef7;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 10px 1px;
}

.checkbox {
    padding-top: 15px;
}

.checkbox label {
    cursor: pointer;
    padding-left: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.1
}

.checkbox label, .form-group.is-focused .checkbox label {
    color: rgba(0, 0, 0, .87)
}

.form-group.is-focused .checkbox label:focus, .form-group.is-focused .checkbox label:hover {
    color: rgba(0, 0, 0, .54)
}

fieldset[disabled] .form-group.is-focused .checkbox label {
    color: rgba(0, 0, 0, .87)
}

.checkbox input[type=checkbox] {
    opacity: 0;
    position: absolute;
    margin: 0;
    z-index: -1;
    width: 0;
    height: 0;
    overflow: hidden;
    left: 0;
    pointer-events: none
}

.checkbox .checkbox-material {
    vertical-align: middle;
    position: relative;
    top: 3px;
    padding-right: 5px
}

.checkbox .checkbox-material:before {
    display: block;
    position: absolute;
    left: 0;
    content: "";
    background-color: rgba(0, 0, 0, .84);
    height: 20px;
    width: 20px;
    border-radius: 100%;
    z-index: 1;
    opacity: 0;
    margin: 0;
    transform: scale3d(2.3, 2.3, 1)
}

.checkbox .checkbox-material .check {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, .54);
    overflow: hidden;
    z-index: 1;
    border-radius: 3px
}

.checkbox .checkbox-material .check:before {
    position: absolute;
    content: "";
    transform: rotate(45deg);
    display: block;
    margin-top: -3px;
    margin-left: 7px;
    width: 0;
    height: 0;
    animation: checkbox-off .3s forwards
}

.checkbox input[type=checkbox]:focus + .checkbox-material .check:after {
    opacity: .2
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check {
    background: #617ef7
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:before {
    color: #fff;
    animation: checkbox-on .3s forwards
}

.checkbox input[type=checkbox]:checked + .checkbox-material:before {
    animation: rippleOn .5s
}

.checkbox input[type=checkbox]:checked + .checkbox-material .check:after {
    animation: rippleOn .5s forwards
}

.checkbox input[type=checkbox]:not(:checked) + .checkbox-material .check:after, .checkbox input[type=checkbox]:not(:checked) + .checkbox-material:before {
    animation: rippleOff .5s
}

.checkbox input[type=checkbox][disabled] + .circle, .checkbox input[type=checkbox][disabled] ~ .checkbox-material .check, fieldset[disabled] .checkbox, fieldset[disabled] .checkbox input[type=checkbox] {
    opacity: .5
}

.checkbox input[type=checkbox][disabled] ~ .checkbox-material .check {
    border-color: #000;
    opacity: .26
}

.checkbox input[type=checkbox][disabled] + .checkbox-material .check:after {
    background-color: rgba(0, 0, 0, .87);
    transform: rotate(-45deg)
}


@keyframes checkbox-on {
    0% {
        box-shadow:
                0 0 0 10px,
                10px -10px 0 10px,
                32px 0 0 20px,
                0px 32px 0 20px,
                -5px 5px 0 10px,
                15px 2px 0 11px;
    }
    50% {
        box-shadow:
                0 0 0 10px,
                10px -10px 0 10px,
                32px 0 0 20px,
                0px 32px 0 20px,
                -5px 5px 0 10px,
                20px 2px 0 11px;
    }
    100% {
        box-shadow:
                0 0 0 10px,
                10px -10px 0 10px,
                32px 0 0 20px,
                0px 32px 0 20px,
                -5px 5px 0 10px,
                20px -12px 0 11px;
    }
}

@keyframes rippleOn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
@keyframes rippleOff {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.2;
    }
    100% {
        opacity: 0;
    }
}
